@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.scarpa {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#link1 {
    background-color: #ff0101; 
}

#link1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div h2 {
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    color: #feff01;
    font-size: 50px;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, -50%);

}

#link2 {
    background-color: #008101;
}

#link2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#link3 {
    background-color: #feff01;
}

#link3 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#link3 h2 {
    color: #008101;
}

nav {
    position: fixed;
    top: 70px;
    right: 70px;
    z-index: 1;
}

li {
    list-style-type: none;
    height: 50px;
    width: 50px;
    padding: 1%;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    box-shadow: 2px 2px grey;
}

a {
    text-decoration: none;
    padding: 41%;
}