@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.scarpa_1, .scarpa_2, .scarpa_3 {
    height: 100vh;
    width: 100vw;
    position: relative;
}

header div {
    background-color: red; 
}

header div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div h2 {
    text-align: center;
    text-transform: uppercase;
    color: #feff01;
    font-size: 50px;
}

main div {
    background-color: green;
}

main div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer div {
    background-color: yellow;
}

footer div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#link3 {
    color: #008101;
}

nav {
    position: fixed;
    top: 70px;
    right: 70px;
    z-index: 1;
}

li {
    list-style-type: none;
    text-decoration-line: none;
}